---
const jugadores = [
  {
    nombre: "Facundo Cambeses",
    numero: 25,
    posicion: "Arquero",
    imagen: "https://www.racingclub.com.ar/img/futbol/plantel/1583_cambeses.jpg?v=20260325"
  },
  {
    nombre: "Gabriel Rojas",
    numero: 27,
    posicion: "Defensor",
    imagen: "https://www.racingclub.com.ar/img/futbol/plantel/1398_rojas.jpg?v=20260325"
  },
  {
    nombre: "Adrián Martínez",
    numero: 9,
    posicion: "Delantero",
    imagen: "https://www.racingclub.com.ar/img/futbol/plantel/1586_martinez.jpg?v=20260325"
  }
];
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Racing Club</title>
  </head>

  <body>

    <header>
      <h1>Racing Club</h1>
      <p>TP FRONTEND 1</p>
    </header>

    <main>

      <section>
        <input type="text" placeholder="Buscar jugador..." />
      </section>

      <section class="jugadores">
        {
          jugadores.map(jugador => (
            <div class="card">
              <img src={jugador.imagen} alt={jugador.nombre} />
              <h3>{jugador.nombre}</h3>
              <p>Dorsal {jugador.numero}</p>
              <p>{jugador.posicion}</p>
            </div>
          ))
        }
      </section>

    </main>

    <footer>
      <p>Ivo te quiero</p>
    </footer>

  </body>
</html>

<style>

body{
font-family: Arial;
background:#FFFFF;
color:#00000;
padding:20px;
}

header{
text-align:center;
margin-bottom:30px;
}

.jugadores{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#009ddd;
padding:15px;
border-radius:10px;
text-align:center;
}

.card img{
width:100%;
border-radius:10px;
}

input{
padding:10px;
width:100%;
max-width:300px;
display:block;
margin:0 auto 20px;
}

</style>